# Bibliothèques de base
numpy
pandas==2.0.3
joblib==1.2.0

# Bibliothèques de machine learning
scikit-learn==1.6.1
lime
cloudpickle==3.1.1

# Bibliothèques pour les cartes et l'interactivité
folium==0.14.0
streamlit==1.42.2
streamlit-folium
streamlit-modal==0.1.0

# Pour calcul de distance
geographiclib